<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-between p-3 sticky-top">
  <div>
    <a class="navbar-brand" routerLink="/">FACILITY SERVICE HERO</a>
  </div>

  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item small-screen">
        <button mat-button [matMenuTriggerFor]="menu" style="color:var(--bs-secondary)">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><a class="nav-link" routerLink="/">Home</a></button>
          <button mat-menu-item><a class="nav-link" routerLink="/services/montage">Services</a></button>
          <button mat-menu-item><a class="nav-link" routerLink="/about">Uber Uns</a></button>
          <button mat-menu-item><a class="nav-link" routerLink="/contact">Kontakt</a></button>
        </mat-menu>
      </li>
      <div class="big-screen">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services/montage">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Uber Uns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Kontakt</a>
      </li>
      </div>
    </ul>
  </div>
</nav>
