<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-5">
    <div class="bg-dark p-4 border-3 rounded-3">
      <div class="d-flex justify-content-center mb-3">
  <img alt="Italian Trulli" class="contact-png" src="./assets/contact.jpg"/>
      </div>
      <h3 class="text-white">Wir freuen uns über Ihr Interesse an unserer Webseite! Wenn Sie Fragen haben, zögern Sie
        nicht, uns zu kontaktieren. Schreiben Sie uns direkt eine E-Mail, senden Sie uns eine Nachricht per WhatsApp
        oder rufen Sie uns an. Wir melden uns so schnell wie möglich bei Ihnen!</h3>
      <h2 class="text-white mb-0 mt-4">E-mail:</h2>
      <h4 class="text-white">example(at)hotmail.com</h4>
      <h2 class="text-white mb-0 mt-4">Telefonnummer:</h2>
      <h4 class="text-white">+49123456790</h4>
    </div>
  </div>
</div>
