<div class="d-flex flex-column" style="min-height: 100vh">
  <div class="bg-light flex-fill">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
  <footer class="text-center bg-dark py-2">
    <div class="d-flex justify-content-center gap-3 mx-3">
      <div class="text-secondary">© 2024 Copyright:
        <span class="text-secondary">Facility Service Hero</span>
      </div>
      <div>
        <a class="text-white text-decoration-none" href="#">Impressium</a>
      </div>
      <div>
        <a class="text-white text-decoration-none" href="#">Kontakt</a>
      </div>
    </div>
  </footer>
</div>
