<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <h1 class="mb-0 fw-bold">Malerservice</h1>
  </div>
  <div class="d-flex justify-content-center">
    <h3 class="price-color">Für ab 5€ pro qm</h3>
  </div>
  <div class="d-flex justify-content-center">
    <h3 class="mb-4">Verleihen Sie Ihrem Zuhause frischen Glanz! Unser Malerservice sorgt für saubere und präzise Anstriche in Ihren Wohn- und Geschäftsräumen. Egal ob Renovierung, Neugestaltung oder Ausbesserungsarbeiten – wir bringen Farbe in Ihr Leben.</h3>
  </div>

  <div>

    <h2>Servicebeschreibung</h2>
    <h4>1. Quadratmeteranzahl:</h4>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Quadratmeter</mat-label>
        <input matInput placeholder="0" value="0" [(ngModel)]="quadratMeter">
      </mat-form-field>
    </form>

    <h4>2. Deckenhöhe:</h4>
    <mat-form-field>
      <mat-label>Meter</mat-label>
      <mat-select [(ngModel)]="selectedMeter">
        <mat-option [value]="meters[0]"><{{ meters[0] }}m</mat-option>
        <mat-option [value]="(meters[0] + meters[1])/2">{{ meters[0] }}m - {{ meters[1] }}m</mat-option>
        <mat-option [value]="meters[1]">>{{ meters[1] }}m</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="max-width: 600px">
      <div class="d-flex justify-content-between">
        <h4>3. Wird die Arbeit in einem Altbau durchgeführt?</h4>
        <mat-slide-toggle [(ngModel)]="checkedValues[0]"></mat-slide-toggle>
      </div>

      <div class="d-flex justify-content-between">
        <h4>4. Soll die Farbe vom Handwerker besorgt werden?</h4>
        <mat-slide-toggle [(ngModel)]="checkedValues[1]"></mat-slide-toggle>
      </div>

    </div>

    <h2 class="mt-5">Kostenvoranschlag: {{ totalPrice }}€ + Anfahrt
    </h2>
  </div>


</div>
