<div class="container mt-5">
  <div>
    <h2>Servicebeschreibung</h2>
    <h4>1. Um wie viele Installationen/Reparaturen handelt es sich insgesamt?</h4>
    <mat-form-field>
      <mat-label>Stück</mat-label>
      <mat-select [(ngModel)]="selectedPiece" (selectionChange)="calculateMobelPiece()">
        @for (number of numbers; track number) {
          <mat-option [value]="number">{{ number }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div style="max-width: 600px">
      <div class="d-flex justify-content-between">
        <h4>2. Wird die Arbeit in einem Altbau durchgeführt?</h4>
        <mat-slide-toggle [(ngModel)]="checkedValues[0]"></mat-slide-toggle>
      </div>

      <div class="d-flex justify-content-between">
        <h4>3. Muss gebohrt oder etwas an die Wand befestigt werden?</h4>
        <mat-slide-toggle [(ngModel)]="checkedValues[1]"></mat-slide-toggle>
      </div>

      <div class="d-flex justify-content-between">
        <h4>4. Zugang zum Sicherungskasten?</h4>
        <mat-slide-toggle [(ngModel)]="checkedValues[2]"></mat-slide-toggle>
      </div>
    </div>

    <h2 class="mt-5">Kostenvoranschlag: {{ totalPrice }}€ + Anfahrt
    </h2>
  </div>


</div>
